/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
 

/** ==========================================================================
  * Author's custom styles
   ========================================================================== */
img{max-width: 100%;height:100%} 
.testimage{margin-bottom: 30px;}
.testimage img{float: left;}
.bx-wrapper .bx-viewport{left: 0;}
.item{text-align: center} 
 .designation{text-transform: uppercase;}  
 .testimage_content{overflow: hidden}
.wpr_tes_con{padding: 30px;}
.border_horiz{display: inline-block;
    width: 1.1px;
    height: 60px;
    background: #ededed;
    margin: 0px 10px;
    vertical-align: calc(10px);} 
.con_img{ max-width: 80px;     
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    overflow: hidden; }
.desig{display: inline-block;
    margin-left: 5px;
    color: #C9C9C9;
    vertical-align: calc(24px);
    font-size: 12px;
    text-transform: capitalize;}
 .desig strong{font-size: 14px}   
 .wpr_tes_con:after,.wpr_tes_con:before  { position: absolute;
 font-family: 'dashicons';
 font-size: 20px;}   
.wpr_tes_con:before {content: "\f122";
    margin: -10px 0px 0px -27px;
    }
 

 
    
 a{border-bottom: 0px solid #333 !important;}  
 .bx-controls-direction{position: absolute;
    top: 0;   
    overflow: hidden;
    width: 33px;
    height: 66px;
    bottom: 0;
    margin: auto;} 
    
  